# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

res/
build/
cmake-build-debug/
cmake-build-release/

3rdParty/g2o/bin/
3rdParty/g2o/build/
3rdParty/g2o/lib/

